<div id="cont-footer" class="clearfix">
    <div class="col-sm-9">
    <ul class="p0 no-bullets mt8">
        <!--<li><a href="" class="no-link">about #Rise</a></li>
        <li class="ml5 mr5 hidden-xs">|</li>-->
        <li><a href="/promoteyourcause">promote your cause</a></li>
        <li class="ml5 mr5 hidden-xs">|</li>
        <li><a href="/privacypolicy">privacy policy</a></li>
        <li class="ml5 mr5 hidden-xs">|</li>
        <li><a href="/terms-service">terms of service</a></li>
    </ul>
    </div>
    <div class="col-sm-3 follow text-right">
        <div class="mt8">
            <span class="mt8 mr10 mb20">follow us</span>
            <a href="https://www.facebook.com/hashtagriseapp?sk=info#" target="_blank" class="mr10 cont-face"><i class="fa fa-facebook fa-lg"></i></a>
            <a href="https://twitter.com/hashtagrise" target="_blank" class="cont-twiter"><i class="fa fa-twitter fa-lg"></i></a>
        </div>
    </div>
</div>
