<div class="cont-about container mb40">
    <div class="col-xs-12 col-sm-5 col-md-4">
        <img src="/images/about-phone.jpg" class="about-phone img-responsive" alt="">
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8">
        <h3 class="uppercase">make room for the good staff</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi justo lorem, gravida sit amet magna at, egestas tincidunt nulla. Sed in nisl vel sem mattis venenatis. Proin sapien metus, suscipit quis sollicitudin ac, posuere id dolor. Mauris molestie arcu at vulputate commodo. Aliquam vel rutrum orci. In turpis est, fermentum ac pharetra nec, pharetra feugiat justo.</p>
        <p>Mauris elit lectus, porttitor et varius a, malesuada pharetra sapien. Cras sit amet mi blandit, convallis ligula nec, posuere quam. Vivamus pellentesque rhoncus mauris, vel sodales sem condimentum vitae. Nulla varius ex dui, quis condimentum nunc porta et. Quisque viverra nulla orci, ac lacinia leo fringilla vel. Donec consequat sagittis cursus. Ut quis massa laoreet, fringilla leo quis, tincidunt eros.</p>
        <h3 class="uppercase mt30">our amazing team</h3>
        <div class="col-md-4 text-center">
          <div class="img-team-member">
            <img src="../images/silueta.jpg">
          </div>
          <h4 class="uppercase">Natalie Cadoch</h4>
          <p>An entrepreneur in real estate, furniture and design, Natalie had the vision for an anonymous sharing app where people can express themselves Rise and authentically without judgment, allowing people a space to be themselves.</p>
          <a href="mailto:app.nataliecadoch@gmail.com"><em>app.nataliecadoch@gmail.com</em></a>
        </div>
        <div class="col-md-4 text-center">
          <div class="img-team-member">
            <img src="../images/silueta.jpg">
          </div>
          <h4 class="uppercase">Michael Lerner</h4>
          <p>Founder of Safety 1st, the company that brought you “Baby on Board”, built Safety 1st to be one of most significant brands in the Juvenile Industry.
          </p>
          <a href="mailto:michaellerner888@gmail.com"><em>michaellerner888@gmail.com</em></a>
        </div>
        <div class="col-md-4 text-center">
          <div class="img-team-member">
            <img src="../images/silueta.jpg">
          </div>
          <h4 class="uppercase">Leslie Wolfson</h4>
          <p>With an extensive background as publisher of luxury and design magazines, Leslie has also worked with numerous clients on creating meaningful brands, and sees #Rise as an outlet for expression of the spiritual mainstream.</p>
          <a href="mailto:lesliewolfson@mac.com"><em>lesliewolfson@mac.com</em></a>
        </div>

    </div>
</div>
