<div class="cont-signup cont-blur mt70 clearfix">
    <div class="col-sm-3 col-md-3 col-lg-2 col-sm-offset-3 col-md-offset-3 col-lg-offset-4 text-center">
        <h4 class="uppercase fw100 mb0">try #Rise</h4>
        <h4 class="uppercase fw100 mt5">on your iphone:</h4>
        <img class="mt30 mb50" src="/images/app-store-black.png" alt="Available on the AppStore">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
        <h4 class="uppercase fw100 text-blue">are you a new user?</h4>
        <p class="ls0">Provide us your email and we will send you a link so that you can download the app.</p>
        <p class="ls0">If you dont have an iPhone, we will notify you when the app is available for your device</p>
        <form role="form" name="signUpForm" ng-submit="send(true)">
            <div class="form-group">
                <div class="styled-select">
                   <select ng-model="user.typePhone" ng-options="option.name for option in options track by option.value" required>
                      <option value="">What type of phone do you have?</option>
                   </select>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input class="form-control" name ="email" type="email" placeholder="Enter email" ng-model="user.email" required check-email-on-blur>
                </div>
                <span class="tx-error" ng-show="signUpForm.email.$error.emails">
                Provide a valid email address.
                </span>
                <inline-error class="tx-error" errors="errors.email" ng-show="errors.email"></inline-error>
            </div>
            <!-- <div class="form-group" ng-show="user.typePhone.value == 'Iphone'"> -->
            <div class="form-group" ng-show="false">
                <p>We can also send you a link via SMS if you enter your phone number (optional)</p>
                <div class="input-group">
                    <div class="input-group-addon"><span class="icon-phone"></span></div>
                    <input class="form-control" type="text" name="phone" ng-model="user.phoneNumber"  ng-minlength="10" ng-pattern="onlyNumbers"  placeholder="Enter your phone number">
                </div>
                <p  class="tx-error error-form" ng-show="signUpForm.phone.$dirty && signUpForm.$error.minlength">
                    Type at least 10 numbers.
                </p>
                <p class= "tx-error error-form" ng-show="signUpForm.phone.$dirty && signUpForm.phone.$error.pattern">
                    You can only type numbers.
                </p>
            </div>
            <div class="form-group clearfix">
              <button id="submit" type="submit" class="btn btn-success col-xs-12 col-sm-6" ng-disabled="signUpForm.$invalid">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="modalThanks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" show-modal>
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-header text-right">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
      <div class="modal-body">
        <h4 class="text-center">thanks for sharing your details</h4>
        <p class="text-blue text-center">You will be the first to know when #Rise is ready. In the meantime, please follow us on Facebook and Twitter to get a sense of what others are trying to #Rise...</p>
        <div class="text-center">
          <a href="https://www.facebook.com/pages/Rise-App/692866320786816?sk=info#" class="btn btn-default social-facebook" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
          <a href="https://twitter.com/hashtagrise" class="btn btn-default social-twitter" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
        </div>
      </div>
    </div>
  </div>
</div>
