<div class="cont-all-nav" ub-changes-categories>
    <div id="cont-topvar" class="clearfix">
        <ul class="pull-left no-bullets">
            <li class="logo-rise"><a href="category/all">Rise</a></li>
        </ul>
        <ul class="cont-categories pull-right no-bullets hidden-xs">
            <li><a href="category/all" class="pin" ng-class="{'active': path == 'all'}">all activity</a></li>
            <li><a href="category/life" class="bg-life pin" ng-class="{'active': path == 'life'}" ng-click="category = life">Life</a></li>
            <li><a href="category/inspiration" class="bg-insp pin" ng-class="{'active': path == 'inspiration'}">Inspiration</a></li>
            <li><a href="category/causes" class="bg-caus pin" ng-class="{'active': path == 'causes'}">causes</a></li>
             <li><a href="category/gratitude" class="bg-grat pin" ng-class="{'active': path == 'gratitude'}">gratitude</a></li>
            <li><a href="/signup" class="pin" ng-class="{'active': path == 'signup'}">sign up</a></li>
            <li class="appstore"><a href="/download?ref=asd" target="_blank">APP STORE</a></li>
        </ul>
        <ul class="cont-search-btn pull-right no-bullets" ng-class="{'visible-xs': !noShow}" ng-hide="noShow">
            <li><button class="search-btn" ng-click="$parent.startSearch = ($parent.startSearch ? false : true); changeCat = false"></button></li>
        </ul>
    </div>
    <!-- top navbar mobile -->
    <div id="cont-topvar-mobile" class="clearfix visible-xs" >
        <div class="btn-drop" ng-click="changeCat = (changeCat ? false : true)"></div>
        <div id="current" class="{{currentSec}}" ng-click="changeCat = (changeCat ? false : true)">{{currentSecText}}</div>
        <ul class="cont-categories pull-right no-bullets" ng-show="changeCat">
            <!-- <li data-pos="0"><a href="/allactivity">all activity</a></li> -->
            <li data-pos="1"><a href="/category/all" class="bg-alla" ng-click="changeCat = false">all activity</a></li>
            <li data-pos="2"><a href="category/life" class="bg-life" ng-click="changeCat = false">Life</a></li>
            <li data-pos="3"><a href="category/inspiration" class="bg-insp" ng-click="changeCat = false">Inspiration</a></li>
            <li data-pos="4"><a href="category/causes"class="bg-caus" ng-click="changeCat = false">Causes</a></li>
            <li data-pos="5"><a href="/category/gratitude" class="bg-grat" ng-click="changeCat = false">gratitude</a></li>
            <li data-pos="6"><a href="/signup" class="bg-sign" ng-click="changeCat = false">sign up</a></li>

            <li data-pos="7" class="item-top-line"><a href="/promoteyourcause" class="bg-alla" ng-click="changeCat = false">promote your cause</a></li>
            <li data-pos="8"><a href="/privacypolicy" class="bg-alla" ng-click="changeCat = false">privacy policy</a></li>
            <li data-pos="9"><a href="/terms-service" class="bg-alla" ng-click="changeCat = false">terms of service</a></li>
        </ul>
    </div>
    <!-- filter navbar -->
    <div class="cont-filter" ng-class="{'end': startSearch}" ng-hide="noShow">
        <div class="container">
            <div class="cont-filter-nav clearfix" >
                    <div class="col-xs-12 col-sm-9 col-lg-9 pull-left" ng-class="{'hidden-inline-xs': showUser}" ng-show="showUser">
                        <h1 class="uppercase mt10">{{userName}} <small>(<span ng-bind="userPosts"></span> POSTS)</small></h1>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-lg-9 pull-left" ng-class="{'hidden-inline-xs': showSearch}" ng-show="showSearch">
                      <h1 class="uppercase mt10"><span class="fw100">SEARCHING FOR</span> #{{tagName}}:  <small class="uppercase">we found {{totalSearch}} posts</small></h1>
                    </div>
                    <div class="cont-search col-xs-12 col-sm-3 col-lg-3 pull-right">
                        <form class="form-inline" name="formSearch" role="form" ng-submit="searchPosts(searchTag)">
                            <div class="form-group">
                              <div class="input-group">
                                <input class="form-control" type="text" ng-model="searchTag" ng-minlength="1" ng-required="true" placeholder="search tag...">
                                <div class="input-group-addon">
                                    <div class="row">
                                        <button type="submit" ng-disabled="!searchTag">
                                            <i class="search-icon hidden-xs"></i>
                                            <span class="visible-xs">search</span>
                                        </button>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 hidden-xs-mobile col-sm-9 col-lg-9 pull-right" ng-show="showFilter">
                        <ul class="filter-nav clearfix text-right">
                          <li class="hidden-xs">filter by:</li>
                          <li><button ng-class="{ active:filter === 'recent' }" ng-click="applyFilter('recent')">recent</button></li>
                          <li><button ng-class="{ active:filter === 'trending' }" ng-click="applyFilter('trending')">trending</button></li>
                          <!-- <li><button ng-class="{ active:filter === 'local' }" ng-click="applyFilter('local')">local</button></li> -->
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</div>
