
<div class="container  pb30">
    <div class="col-md-12 text-center" >
        <h1>Manage Image Metadata</h1>
    </div>
    <div class="col-md-12 pt20 pb20" >        
        <input type="text" name="imageID" ng-model="imageID" class="col-md-3" style="height: 38px;" placeholder="Image Id"> 
        <button name="search" type="button" class="btn btn-primary" ng-click="searchImage(imageID)"> Search</button>
    </div>
    <div class="{{classMsg}}">{{message}}</div>
    <div style="float: left;text-align: center;" ng-if="imageData">
                    <img ng-src="{{imageData.url}}" style="width:60%;">
    </div>

    <div style="float: left;">
        <ul ng-if="imageData" class="media-list">
            <li class="list-group-item"><label>Category: </label> {{imageData.category}} </li>
            <li class="list-group-item"><label>Description: </label> {{imageData.description}}</li>
            <li class="list-group-item"><label>Editor: </label> {{imageData.editor}}</li>
            <li class="list-group-item"><label>Generic: </label> {{imageData.generic}}</li>
            <li class="list-group-item"><label>Name: </label> {{imageData.name}}</li>
            <li class="list-group-item"><label>Tags: <br></label><textarea ng-model="tags" cols="50" rows"8" style="padding: 10px;"></textarea></li>
            <li class="list-group-item text-center"><button type="button" name="save" ng-click="updateTags(tags)" class="btn btn-primary">Save</button></li> 
        </ul>
    </div>
</div>