<!--<div class="container" ng-hide="showPosts">
  <div class="alert alert-info alert-dismissible" role="alert">
    We couldn’t find any #Rise posts in this category right now, but check back soon.
  </div>
</div>-->
    <div class="cont-filter-nav cont-filter-mobile hidden-sm  visible-xs  clearfix">
    <div class="col-xs-12" ng-show="showFilter">
                        <ul class="filter-nav clearfix text-right">
                          <li class="hidden-xs">filter by:</li>
                          <li><button ng-class="{ active:filter === 'recent' }" ng-click="applyFilter('recent')">recent</button></li>
                          <li><button ng-class="{ active:filter === 'trending' }" ng-click="applyFilter('trending')">trending</button></li>
                          <!-- <li><button ng-class="{ active:filter === 'local' }" ng-click="applyFilter('local')">local</button></li> -->
                        </ul>
                    </div>
                    </div>
<div class="container" ub-lazy-load ng-init="applyFilter('recent');">
    <div class="cont-blur cont-all-post clearfix">
        <div ng-click="postsCarousel(post, $index)" class="post col-sm-4 col-md-3 col-lg-3 slide-animation" ng-repeat="post in posts">
            <div class="cont-img">
                <img ng-src="{{post.imageURL}}" alt="" height="100%">
            </div>
            <div class="cont-category col-xs-12 col-sm-12 col-lg-12">
                <div class="col-xs-6 col-sm-6 col-lg-6 light-{{post.category}}">
                    <div class="row">
                        <div class="text-category col-xs-10 col-sm-10 bg-{{post.category | limitTo:letterLimit}}">{{(post.category == 'care' ? 'care & share' : post.category)}}</div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-6 text-right">
                    <span ng-class="post.countLikes > 0 ? 'like-icon-blue' : 'like-icon'"></span>
                    <span class="count-like">{{post.countLikes}}</span>
                </div>
            </div>
        </div>

        <posts-carousel postslist="posts" index="clickedPost" comments="comments" postcreator="postCreator" disclaimer="disclaimer()" showpostscarousel="showPostsCarousel" ng-show="showPostsCarousel"></posts-carousel>

    </div>
</div>
<disclaimer></disclaimer>
