<div class="modal fade" id="modalDisclaimer" tabindex="-1" role="dialog" show-modal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-right">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()"><span>&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body" ng-show="showThanks">
        <h4 class="text-center">thanks for sharing your details</h4>
        <p class="text-blue text-center">You will be the first to know when #Rise is ready. In the meantime, please follow us on Facebook and Twitter to get a sense of what others are trying to #Rise...</p>
        <div class="text-center">
          <a href="https://www.facebook.com/pages/Rise-App/692866320786816?sk=info#" class="btn btn-default social-facebook" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
          <a href="https://twitter.com/hashtagrise" class="btn btn-default social-twitter" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
        </div>
      </div>
      <div class="modal-body"  ng-hide="showThanks">
        <h4 class="uppercase text-center">#Rise is free <br>for everyone</h4>
        <div class="clearfix row">

            <div class="col-sm-6 col-md-6 text-center" ng-hide="android">
                <h4 class="text-black uppercase fw100 mb0">YOU MUST DOWNLOAD</h4>
                <h4 class="text-black uppercase fw100 mt5">#RISE ON YOUR IPHONE TO PERFORM THIS ACTION</h4>
                <h4 class="text-black uppercase fw100 mt5">IN THIS POST.</h4>
                <img class="mt30 mb50" src="/images/app-store-black.png" alt="Available on the AppStore">
            </div>
            <div class="col-sm-6 col-md-6">
                <h4 class="uppercase fw100 text-blue">are you a new user?</h4>
                <p class="ls0">Provide us your email and we will send you a link so that you can download the app.</p>
                <p class="ls0">If you dont have an iPhone, we will notify you when the app is available for your device</p>
                <form role="form" name="signUpForm" ng-submit="send()">
                    <div class="form-group">
                        <div class="styled-select">
                           <select ng-model="user.typePhone" ng-options="option.name for option in options track by option.value" required>
                              <option value="">What type of phone do you have?</option>
                           </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">@</div>
                            <input class="form-control" name ="email" type="email" placeholder="Enter email" ng-model="user.email" required check-email-on-blur>
                        </div>
                        <span class="tx-error" ng-show="signUpForm.email.$error.emails">
                        Provide a valid email address.
                        </span>
                        <inline-error class="tx-error" errors="errors.email" ng-show="errors.email"></inline-error>
                    </div>
                    <!-- <div class="form-group" ng-show="user.typePhone.value == 'Iphone'"> -->
                    <div class="form-group" ng-show="false">
                        <p>We can also send you a link via SMS if you enter your phone number (optional)</p>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="icon-phone"></span></div>
                            <input class="form-control" type="text" name="phone" ng-model="user.phoneNumber"  ng-minlength="10" ng-pattern="onlyNumbers"  placeholder="Enter your phone number">
                        </div>
                        <p  class="tx-error error-form" ng-show="signUpForm.phone.$dirty && signUpForm.$error.minlength">
                            Type at least 10 numbers.
                        </p>
                        <p class= "tx-error error-form" ng-show="signUpForm.phone.$dirty && signUpForm.phone.$error.pattern">
                            You can only type numbers.
                        </p>
                    </div>
                    <div class="form-group">
                      <button id="submit" type="submit" class="btn btn-success col-xs-12 col-sm-6" ng-disabled="signUpForm.$invalid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
