<div id="cont-back">
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-6">
            <div class="logo"><img src="/images/rise.svg" alt="" width="170"></div>
            <h4>
              Make room for the good stuff
            </h4>
            <p>With #Rise, it's always #nofilter because you're free to be the real you. If it’s stuck inside, let it out. If it’s bringing you down, let it go. If it’s making you smile, share it with others.
Make more room for the good stuff.</p>
            <h5 class="hidden-xs">SHARE THIS</h5>
            <a href="https://www.facebook.com/hashRise/" class="btn btn-default hidden-inline-xs" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
            <a href="http://www.twitter.com/hashRise/" class="btn btn-default hidden-inline-xs" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
          </div>
        </div>
      </div>
    </div>
    <div class="cont-form">
      <div class="container">
        <div class="col-sm-6" >
          <h3>start getting your dose of positivity today</h3>
          <form name="infoUser" role="form" ng-submit="send()" novalidate>
            <div class="form-group">
              <label for="email" class="text-blue">EMAIL</label>
              <input id="email" type="email" name="email" ng-model="user.email" ng-blur="validateMailandUserName()" check-email-on-blur required>
              <span class= "tx-error" ng-show="infoUser.email.$error.emails">
                This is not a valid email.
              </span>
              <inline-error errors="errors.email" ng-show="errors.email"></inline-error>
            </div>
            <div class="form-group">
              <label for="phone" class="text-blue">PHONE</label>
              <div class="styled-select">
                <select name="typePhone" id="typePhone" ng-model="user.typePhone" ng-options="option.name for option in options track by option.value" ng-change="validateButton()" required>
                  <option value="">CHOOSE TYPE</option>
                </select>
                <span ng-show="infoUser.typePhone.$error.required">Choose a phone type</span>
              </div>
            </div>
            <div class="form-group">
              <!-- <input id="submit" type="submit" value="I want to Release It"> -->
              <button id="submit" type="submit" ng-disabled="infoUser.$invalid">I want to #Rise</button>
            </div>
          </form>
        </div>
        <div class="cont-screen text-center visible-xs">
          <ul class="clearfix">
            <li><img src="/images/screen-1.jpg" alt=""></li>
            <li><img src="/images/screen-2.jpg" alt=""></li>
            <li><img src="/images/screen-3.jpg" alt=""></li>
          </ul>
        </div>
        <div class="col-sm-6 text-center">
          <img class="phone hidden-inline-xs" src="/images/iphone2.png" alt="phone">
          <p class="text-blue text-center">#Rise is an application that allows people to anonymously get their confessions and concerns off their chest and receive support from other users. All with the end goal of letting people focus on the causes they care about and being thankful for the positive things in their lives.
          </p>
        </div>
        <div class="social-btn text-center visible-xs">
          <a href="https://www.facebook.com/hashRise/" class="social-facebook"><i class="fa fa-facebook"></i></a>
          <a href="http://www.twitter.com/hashRise/" class="social-twitter"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <footer class="splash">
      <div class="container">
        <div class="col-sm-3 col-md-4 text-left"><a href="#">about #Rise llc</a></div>
        <div class="col-sm-5 col-md-4"><span>developed in partnership with</span> <a href="http://www.rokk3rlabs.co/" taget="_blank"><img src="/images/rokk3rlabs-logo.svg" alt="rokk3rlabs logo" width="90"></a></div>
        <div class="col-sm-4 col-md-4 text-right"><span>COPYRIGHT © #Rise ALL RIGHTS RESERVED</span></div>
      </div>
    </footer>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" show-modal>
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-header text-right">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
          <div class="modal-body">
            <h4>thanks for sharing your details</h4>
            <p class="text-blue">You will be the first to know when #Rise is ready. In the meantime, please follow us on Facebook and Twitter to get a sense of what others are trying to #Rise...</p>
            <div class="text-center">
              <a href="https://twitter.com/hashfreely/" class="btn btn-default social-facebook" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
              <a href="https://twitter.com/hashfreely/" class="btn btn-default social-twitter" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
