<div class="row text-center">
  <div class="jumbotron">
    <h3>Thank you for filling out your information. We're working diligently to generate your PR score . You'll receive an email shortly with a full, detailed report.</h3>
    <h3>While you're waiting, learn about the report.</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <p>Claim Your Company on PublicReputation.com</p>
        <a href="#" class="btn btn-success">Claim My Business</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <p>Write review</p>
        <a href="#" class="btn btn-success">Write review</a>
      </div>
    </div>
  </div>
</div>
