<div class="cont-resp-name col-xs-12 hidden-sm hidden-md hidden-lg">
  <h1 class="uppercase mt10">{{userName}} <small>(<span ng-bind="userPosts"></span> POSTS)</small></h1>
</div>
<div class="container" ub-lazy-load>
    <div class="cont-all-post cont-blur clearfix">
        <div class="post col-sm-4 col-md-3" ng-repeat="post in posts">
            <div class="cont-img" ng-click="postsCarousel(post, $index)">
                <img ng-src="{{post.imageURL}}" alt="" height="100%">
            </div>
            <div class="cont-category col-xs-12 col-sm-12">
                <div class="col-xs-6 col-sm-6 light-{{post.category}}">
                    <div class="row">
                        <div class="text-category col-xs-10 col-sm-10 bg-{{post.category | limitTo:letterLimit}}">{{(post.category == 'care' ? 'care & share' : post.category)}}</div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 text-right">
                    <span ng-class="post.countLikes > 0 ? 'like-icon-blue' : 'like-icon'"></span>
                    <span class="count-like">{{post.countLikes}}</span>
                </div>
            </div>
        </div>

        <posts-carousel postslist="posts" index="clickedPost" comments="comments" postcreator="postCreator" disclaimer="disclaimer()" showpostscarousel="showPostsCarousel" ng-show="showPostsCarousel"></posts-carousel>

    </div>
</div>
<disclaimer></disclaimer>
